{{ form_start(bookForm) }}

    {{ form_row(bookForm.name, {
        label: 'Название книги'
    }) }}
    {{ form_row(bookForm.year, {
        label: 'Год издания'
    }) }}
    {{ form_row(bookForm.author, {
        label: 'Автор книги'
    }) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
<a href="{{ path('app_library') }}" class="btn btn-primary">На главную</a>

{{ form_end(bookForm) }}